.form-input-wrapper {
  .element-loader-backdrop {
    .loader {
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      left: auto;
      right: 10px;
    }
  }
}

.vat-tip {
  &.has-error {
    color: $danger;
  }

  &.has-success {
    color: $success;
  }
}